<footer>
    <div class="conatiner">
        <div class="row">
            <div class="col-md-12 d-flex flex-column justify-content-center align-items-center bg-light p-4">
                <p class="p-footer m-0 ">Siga-nos nas Redes Sociais</p>
                <ul class=" lista-social d-flex justify-content-center align-items-center">
                    <li>
                        <a href=""> <i class="fa fa-instagram p-0" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 d-flex justify-content-center align-items-center bg-secondary">
                <p class="m-0 p-2 text-white">2020 Copyright Generation Brasil</p>
            </div>

        </div>
    </div>
</footer>